<html>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <center>
        <div style = "width:60%; height: 10%; border:thick; display:flex; align-content: left"></div>
            <label>To: </label><input readonly="true" value="<%=recipient%>" style = "width:60%"><br>
            <label>From: </label><input readonly="true" value="<%=sender%>" style = "width:60%"><br>
            <label>Subject:</label><input readonly="true" value="<%=subject%>" style = "width:60%"><br><br>
            <textarea readonly="true" style = "width:50%; height:40%; display: flex;border:solid; background-color: aliceblue "><%=content%></textarea>
        </div>
    </center>
</html>