<html>
    <center>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <h1>Hello my friend</h1> <br>
        <button type='button' onclick = "javascript:location.href = 'http://localhost:8000/login'" class='btn btn-primary'>Login</button>
        &nbsp<button type='button' onclick = "javascript:location.href = 'http://localhost:8000/signup'" class='btn btn-primary'>Sign Up</button>
    </center>
</html>