<html>
    <center>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <h1>Login</h1> <br>
        <form action="http://localhost:8000/inbox" method = "POST">
            <label>Email: </label>&nbsp<input placeholder = "Enter email" name = "email" type = 'text' required><br><br>
            <label>Password: </label>&nbsp<input placeholder = "Enter password" name = "password" type = 'password' required><br>
            <button type='submit' class='btn btn-primary'>Login</button>
        </form>
    </center>
</html>
