<html>
    <center>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <h1>Sign Up</h1> <br>
        <form action="http://localhost:8000/login" method = "POST">
            <label>Name: </label>&nbsp<input placeholder = "Enter name" name = "name" type = 'text'><br><br>
            <label>Email: </label>&nbsp<input placeholder = "Enter email" name = "email" type = 'text'><br><br>
            <label>Password: </label>&nbsp<input placeholder = "Enter password" name = "password" type = 'password'><br>
            <button type='submit' class='btn btn-primary'>Sign Up</button>
        </form>
    </center>
</html>